*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
.mg-left-10{
    margin-left: 10px;
}
.mg-top-20{
    margin-top: 20px;
}
.mg-top-30{
    margin-top: 30px;
}
.mg-top-10{
    margin-top: 10px;
}
.mg-top-50{
    margin-top: 50px;
}
.mg-top-70{
    margin-top: 70px;
}
.pd-10{
    padding: 10px;
}
.pd-20{
    padding: 20px;
}
.mg-left-10{
    margin-left: 10px;
}
.mg-left-20{
    margin-right: 20px;
}


.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.header-container .desc h1{
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}
.header-container .desc p{
    font-size: 1.1rem;
    color: #666;
    margin-top: 10px;
}

.social{
    font-size: 25px;
}
.social a{
    color: #333;
    margin-right: 5px;
    transition: 0.3s;
}

.social a:hover{
    color: rgb(0, 166, 255);
}

.header-container .img{
    width: 160px;
    height: 160px;
    border-radius: 200px;
}
.header-container img{
    width: 100%;
    height: 100%;
    border-radius: 200px; 
    border-width: 4px;

}

@media screen and (max-width: 768px){
    .header-container{
        flex-direction: column;
    }
    .header-container .desc h1{
        font-size: 2.5rem;
    }
    .header-container .desc p{
        font-size: 1rem;
    }
    
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.container .about{
   text-align: justify;
}

.experience-container, .education-container{
    display: flex;
    /* box-shadow: 0px 1px 1px 0px #979797; */
}

.experience-container .logo-enterprise, .education-container .logo-ecole{
    width: 150px;
    height: 70px;
}
.experience-container img, .education-container img{
    width: 100%;
    height: 100%;
}
.desc-poste a{
    text-decoration: none;
    color: #333;
}
.desc-poste {
    font-size: 1.2rem;
    color: #333;
}
.desc-poste .lieu{
    color: #666;
}

.competence {
    display: flex;
    flex-wrap: wrap;
}
.competence span{
    background-color: green;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 8px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
}

.footer{
    text-align: center;
    padding: 20px 0;
}