*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
.mg-left-10{
    margin-left: 10px;
}
.mg-top-10{
    margin-top: 10px;
}
.mg-top-50{
    margin-top: 50px;
}
.mg-top-70{
    margin-top: 70px;
}
.pd-10{
    padding: 10px;
}
.pd-20{
    padding: 20px;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.header-container .desc h1{
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}
.header-container .desc p{
    font-size: 1.1rem;
    color: #666;
    margin-top: 10px;
}

.social{
    font-size: 25px;
}
.social a{
    color: #333;
    margin-right: 5px;
    transition: 0.3s;
}

.social a:hover{
    color: rgb(0, 166, 255);
}

.header-container .img{
    width: 160px;
    height: 160px;
    border-radius: 200px;
}
.header-container img{
    width: 100%;
    height: 100%;
    border-radius: 200px; 
    border-width: 4px;

}

@media screen and (max-width: 768px){
    .header-container{
        flex-direction: column;
    }
    .header-container .desc h1{
        font-size: 2.5rem;
    }
    .header-container .desc p{
        font-size: 1rem;
    }
    
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.container .about{
   text-align: justify;
}